form{
    font-family: 'Roboto', sans-serif;
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    margin: 0 auto;
    background: linear-gradient(#bd09b7,#6b4cf5);
    box-shadow: 5px 6px 3px 1px grey;
    color: white;
}

#email, #password{
    padding: 7px;
    width: 95%;
}

#genero {
    padding: 7px;
    width: 100%;   
    margin-bottom: 10px;
}
#terminos{
    margin-bottom: 30px;
}
label{
    display: block;
    margin-top: 10px;
}

#enviar{
    padding: 5px 15px;
    float: right;
}

#enviar:hover{
    background-color: rgb(94, 3, 112);
    border-color: rgb(94, 3, 112);
    color: white;
    cursor: pointer;
    box-shadow: 5px 3px 3px 1px rgb(205, 152, 245);
}

@media (max-width: 480px){
    form{
        width: calc(100% - 40px);
    }
    body,html{
        margin: 0;
        padding: 0;
    }
}
